{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista użytkowników</h1>

    <table class="records_list">
        <thead>
            <tr>
                
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                
                <th>Adres</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.name }}</td>
                <td>{{ entity.surname }}</td>
                <td>{{ entity.email }}</td>
                
                <td>{{ entity.address }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">Pokaż</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">Edytuj</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Utwórz nowego użytkownika
            </a>
        </li>
    </ul>
    {% endblock %}
