{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Użytkownik</h1>

    <table class="record_properties">
        <tbody>
            
            <tr>
                <th>Imię</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ entity.surname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{ entity.address }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Powrót do listy
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit')}}">
            Edytuj dane
        </a>
    </li><br>
    <li>
        <a href="{{ path('shoporder_show') }}">
            Moje zamówienia
        </a>
    </li><br>
    {{ form(delete_form) }}
</ul>
{% endblock %}
